<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="AdministrationPU" transaction-type="JTA">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <jta-data-source>AdministrationDB</jta-data-source>
    <class>administration.domain.Bill</class>
    <class>administration.domain.Car</class>
    <class>administration.domain.CityRate</class>
    <class>administration.domain.Driver</class>
    <class>administration.domain.Employee</class>
    <class>administration.domain.HighwayRate</class>
    <class>administration.domain.Rate</class>
    <class>administration.domain.RegionRate</class>
    <class>administration.domain.SecurityGroup</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <shared-cache-mode>ALL</shared-cache-mode>
    <properties>
      <property name="eclipselink.ddl-generation" value="create-tables"/>
    </properties>
  </persistence-unit>
</persistence>
