/* 
    Document   : index
    Created on : 23-apr-2013, 11:29:04
    Author     : Leslie Aerts
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#log{
    border: 2px;
    background-color: #FFF;
    border-color: #000;
}

